<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rwp.five.buyer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".utilities.CoreApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnsolUser"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".NewPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".OTPActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ViewRepairActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".utilities.SplashScreen"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/white_logo" />

        <service
            android:name=".utilities.FirebaseMessagingServices"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>